<section>
        <div class="edit-btn">
          <button (click)="deleteProduct()">Delete-product</button>
	  <button routerLink="/edit/{{data.id}}">Update-product</button>
        </div>
        <figure>
            <img src="https://drive.google.com/uc?export=view&id=1IrP0iEAjrGKYbPKHUE96nwet6cFVQCpZ" alt="product_img" >
        </figure> 
        <h1>{{ data.name }}</h1>
        <p>{{ data.description }}</p>
        <h3>Price: $<span>{{ data.price }}</span></h3>
        <button>Buy Now</button>
</section>
