<section>

        <div class="hero">

            <div class="txt">

                <h1>GrepCha Gadgets</h1>

                <p>atomorum expetenda laudem etiam id sale vidisse inimicus solet moderatius euripidis sagittis aliquid facilisi petentium dicat postea enim eirmod euripidis</p>

                <button routerLink="/log-in">GET STARTED</button>

            </div>

            

            

        </div>

        <div class="products">

            <div class="cont">

                <div class="items" *ngFor='let item of products' >

                    <figure>

                        <img src="https://drive.google.com/uc?export=view&id=1IrP0iEAjrGKYbPKHUE96nwet6cFVQCpZ" alt="product_img" >

                    </figure>

                    <h2 routerLink="/view/{{item.id}}">{{ item.name }}</h2>

                    <h5>Price: ${{ item.price }}</h5>

                </div>

                       

            </div>

            

        </div>

</section>




